
@font-face {font-family: "iconfont";
  src: url('./font/iconfont.eot?t=1501829949715'); /* IE9*/
  src: url('./font/iconfont.eot?t=1501829949715#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./font/iconfont.woff?t=1501829949715') format('woff'), /* chrome, firefox */
  url('./font/iconfont.ttf?t=1501829949715') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./font/iconfont.svg?t=1501829949715#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fengexian:before { content: "\e68c"; }

.icon-bianji:before { content: "\e62b"; }

.icon-zhifubao:before { content: "\e66f"; }

.icon-shanchu:before { content: "\e63f"; }

.icon-date:before { content: "\e601"; }

.icon-tianjia:before { content: "\e81f"; }

.icon-homepage:before { content: "\e78f"; }

.icon-fengexian1:before { content: "\e611"; }

.icon-tubiaozhizuomoban:before { content: "\e617"; }

.icon-xiangce:before { content: "\e687"; }

.icon-weixin:before { content: "\e615"; }

.icon-qq:before { content: "\e602"; }

.icon-details-peo:before { content: "\e666"; }

.icon-eval-tab:before { content: "\e649"; }

.icon-icon:before { content: "\e608"; }

.icon-yinle:before { content: "\e6bb"; }

